<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ABMVVMExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>465FE1AE1EF0634200E587D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>465FE1C21EF0634300E587D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>465FE1CD1EF0634300E587D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
